<a href="https://colab.research.google.com/github/CHIAHSUNCHIANG/PythonandUrban/blob/main/Measure/M03_Basic_Python_and_data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **03 Measure** Basic Python and Data Structures

```
    Class       ARCH 6131 Urban Design Methods / Skills / Tools 1
                Tata Innovation Center
                Fall 2025
                Monday 9:30 AM to 12 PM

    Instructor  Brian Ho
                brian@brian-ho.io
```

This notebook illustrates some basic ways to work with data in Python using built-in data structures. By and large, these are the main Python programming concepts you will need this semester:

- Variables
- Operators
- Lists
- Dictionaries
- Loops
- Conditionals
- Functions

This is meant to demonstrate key principles. For more comprehensive instructions please check out:
- The official [Python 3 reference guide on data structures](https://docs.python.org/3/tutorial/datastructures.html)
- The [introduction to Python’s built-in classes](https://cvw.cac.cornell.edu/python-intro/objects-and-oop/introduction) from the Cornell Virtual Workshop

## Variables
Variables are names that reference objects and data. In Python, variables are _assigned_ a value — and can generally be reassigned to any new value. You can assign a value to Python using the `=` operator:

```
variable_name = <value_to_assign>
```

Here are a few examples of variables for numbers. These support the mathematical operators you might expect: addition, subtraction, multiplication, division, etc ...

In [ ]:
# A variable can be an integer and operations performed on integers
a = 0
b = 1
c = a + b
print(f"a = {a}")
print(f"b = {b}")
print(f"c = {c}")

a = 0
b = 1
c = 1

In [ ]:
# A variable can also be a float — a decimal value
d = 2.5
e = 1e2
f = d * e
print(f"d = {d}")
print(f"e = {e}")
print(f"f = {f}")

d = 2.5
e = 100.0
f = 250.0

Variables can also be text, referred to as strings. Notice that strings can have operators — in this case, you can add two strings together.

In [ ]:
# A variable can be a string: one or more characters
x = "Here's a string"
y = "!"
z = x + y
print(z)

Here's a string!

## Operators
You may have noticed that above we use operators to combine or otherwise work with variable. Generally, these do what we expect like basic addition, subtraction, multiplication, and division.

In [ ]:
print(1 + 1)
print(200 / 10)

2
20.0

There are some operators that you may be less familiar with. Comparison operators will return a logical value of `True` or `False`, known as a boolean.

In [1]:
# The >, <, >=, <= check if values are smaller or larger.
# Try changing the operator or values and see what happens!
10 > 200

False

In [ ]:
# The == checks if two values are the same
100 == 20 * 5

True

In [ ]:
# The != checks if two values are not the same
# In this case
2 != 1 + 1

False

Other operators simplify basic addition and subtraction.

In [ ]:
# The += and -= let you increment or decrement from a variable and re-assign in one go.
# Let's create a variable
a = 100
# This is the same as doing: a = a + 10
a += 10
print(a)

110

In [ ]:
# What do you think the value of b will be?
b = 100
b -= 100
print(b)

0

In [ ]:
# The *= and /= operators do the same for multiplication and division
c = 1
c *= 4
print(c)

4

In [ ]:
d = -2
d /= -2
print(d)

1.0

Try playing around further with variables and operators in a new cell below!

## Lists
A list (or array) is a common data structure for multiple objects. You can distinguish a list when you see the square brackets `[]` with items separated by commas. You may also see lists created with the `list()` constructor.

Lists are ordered, and you can add, remove, and iterate with a list.

In [ ]:
# A basic list of numbers
a_example_list = [1, 2, 3, 4, 5]
print(a_example_list)

[1, 2, 3, 4, 5]

You can access any of the items using its index (position in the list) and square bracket notation `[]`. A key concept to remember is that Python (and much of programming and computer science) starts counting from zero. This is known as a zero-based numbering.

In [ ]:
# You can access specific items in a list using an index
# Python is zero-based, and zero is the first item
a_example_list[0]

1

In [ ]:
# You can use a colon to get a range within a list
# This gets everything from index 3 (the fourth item) onwards:
a_example_list[3:]

[4, 5]

Lists are _mutable_ meaning they can be changed and edited. You can start with an empty  list and add to it using `append()`. This is a method on the list object: a function that belongs to it.

In [ ]:
# You can have empty lists!
an_empty_list = []
# You can add an item to the end of list!
an_empty_list.append("a value")
an_empty_list

['a value']

In [ ]:
# You can add lists together
a_longer_list = an_empty_list + a_example_list
a_longer_list

['a value', 1, 2, 3, 4, 5]

In [ ]:
# And you can reassign to a specific item in a list
a_example_list[0] = 10
a_example_list

[10, 2, 3, 4, 5]

You can get the number of items in a list with the `len()` function:

In [ ]:
print(f"List has {len(a_longer_list)} items")

List has 6 items

Try playing around further with lists in a new cell below!

## Dictionaries
Dictionaries are a set of key-value pairs. Each `key` uniquely identifies a `value` or other data structure. You can recognize a dictionary when you see squiggly brackets `{}` and keys and values defined with a colon.

Dictionaries are useful when you need to organize data. Imagine you want to record data about a building's height, number of floors, and address!

In [3]:
# A simple dictionary that holds information about a building
building = {"height": 100, "number_of_floors": 2, "address": "123 Main Street"}
print(f"Here's some data about a building: {building}")

Here's some data about a building: {'height': 100, 'number_of_floors': 2, 'address': '123 Main Street'}

You'll be able to access a specific `value` in a dictionary using the corresponding `key` with square bracket notation `[]`.

In [ ]:
# Get a value from a dictionary by its key
building["height"]

100

And, like with lists, you can start an empty dictionary and add to it.

In [ ]:
empty_dict = {}
print(f"Here's a sad empty dictionary: {empty_dict}")

empty_dict["a_value"] = 100
print(f"Now that's something: {empty_dict}")

Here's a sad empty dictionary: {}
Now that's something: {'a_value': 100}

In [ ]:
# You can also combine dictionaries
new_dict = {"another_key": 20}
empty_dict.update(new_dict)
print(f"Now this is definitely not empty: {empty_dict}")

Now this is definitely not empty: {'a_value': 100, 'another_key': 20}

Dictionaries are very common when creating structured data. The `value` for a given `key` could be a list or even another dictionary!

In [5]:
# Let's use another dictionary for another building
another_building = {"height": 50, "number_of_floors": 1, "address": "100 Main Street"}

# We can now describe a block with multiple buildings as a dictionary
a_block_with_buildings = {"block_id": 1, "buildings": [building, another_building]}

print(f"The block's ID is: {a_block_with_buildings['block_id']}.")
print(f"The block has {len(a_block_with_buildings['buildings'])} buildings.")

The block's ID is: 1.
The block has 2 buildings.

## Loops
A `for` loop is a way to iterate and repeat code. The `for` defines how many repetitions occur, and what values change for each loop.

In [10]:
# This loops over each number in the list
list_of_four = [1, 2, 3, 4]
for number in list_of_four:
  print(number)

1
2
3
4

Here are a few common patterns you will encounter with `for` loops:

In [ ]:
# You can loop over a sequential list of integers using range()
# This counts up by 1, starting from 0 and ending before the provided argument
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# This counts up from the first argument and ending before the second argument
for number in range(4, 8):
    print(number)

4
5
6
7

In [13]:
# You can loop over each key and value in a dictionary using .items()
some_dictionary = {"key_1": 1, "key_2": ["a", "b", "c"], "key_3": "more stuff"}

for x, y in some_dictionary.items():
    print(x, y)

key_1 1
key_2 ['a', 'b', 'c']
key_3 more stuff

In [ ]:
# You can loop over just the keys
for key in some_dictionary.keys():
    print(key)

key_1
key_2
key_3

In [ ]:
# You can loop over just the values
for key in some_dictionary.values():
    print(key)

1
['a', 'b', 'c']
more stuff

In [ ]:
# You can loop over anything, and get a counter for the loop using enumerate()
some_list = ["foo", 0]

for i, item in enumerate(some_list):
    print(f"In the {i}-th loop, we get item: {item}")

In the 0-th loop, we get item: foo
In the 1-th loop, we get item: 0

## Conditionals
Conditionals are `if`, `elif`, and `else` statements. These provide basic logic control in code. A nice attribute of Python is that conditionals and other patterns are intentionally human readable — you can scan a conditional and generally get a feel for the behavior.

In [15]:
# Can you guess which print statement will occure before running the code?
some_value = -1000

if some_value > 1_000_000:
    print(f"This value {some_value} is larger than one million")
elif some_value < 0:
    print(f"This value {some_value} is negative")
else:
    print(f"Thiee value {some_value} is between zero and one million")

This value -1000 is negative

Each `if` or `elif` statement contains a logic check that returns `True` or `False`. The code that runs based on that check being `True` must be indented.

You can check for multiple conditions by first using an `if` statment then `elif` (short for "else if") statements. An `else` block only runs if known of the above conditions are met. Think of this as the fallback; statements are evaluated from top to bottom, and the first one that returns `True` is evauated.

## Functions
Finally, functions are nice way to wrap up code for re-use. A function must first be defined with a `def` statement.

Functions run a block of code. They _may_ take in input (known as arguments) and/or return output(s). They may do neither — in which case they simply  run code.

In [19]:
# Here's a basic function that takes 2 input arguments
# And returns a single output
def a_function_that_adds(a, b):
    return a + b


# You can call a function like so
# Can you guess what the result should be?
a_function_that_adds(100, 200)

300

In [20]:
# And you can directly assign the output of a function to a variable
c = a_function_that_adds(a, b)
print(f"The value of c is: {c}")

NameError: name 'a' is not defined

In [ ]:
# Here's a function that neither take in any inputs or returns any  outputs
def a_function_that_just_runs():
    print("Just saying hi!")


a_function_that_just_runs()

Just saying hi!

## Putting it together
You can put together all the pieces we've learned about — variables, lists, dictionaries, loops, conditionals, and functions — to write basic code that can do calculation and computation.

Let's assume we have some data about building on a block, organized using a dictionary and a list like so:

In [21]:
# Here's some data about a block
a_city_block = {
    "buildings": [
        {"address": "123 Main Street", "height": 100},
        {"address": "100 Main Street", "height": 200},
    ]
}

We can write a function to get the total height of all buildings.

In [22]:
# Here's a function to calculate the total height
def get_total_height(block):
    """Sums up the height of all buildings in a block"""
    building_heights = []

    for building in block["buildings"]:
        print(f'Reviewing building at {building["address"]} ...')
        building_heights.append(building["height"])

    total_height = sum(building_heights)
    print(f"Total height is {total_height}!")
    return total_height

In [23]:
# Run the function
get_total_height(a_city_block)

Reviewing building at 123 Main Street ...
Reviewing building at 100 Main Street ...
Total height is 300!

300

# A puzzle
OK! Let's put all this knowledge to use.

Imagine you have collected data about four buildings. For each building, you have the number of floors, an address, and the average floor area and floor-to-floor height of a single floor.

Something like this:

| address | number of floors | average floor area | average floor height |
| ---- | ---- | ---- | ---- |
| 123 Main Street | 25 | 1000 | 10 |
| 26 Broadway | 18 | 2000 | 9.5 |
| 1 Electric Avenue | 15 | 770 | 12 |
| 9 Wall Street | 80 | 900 | 10 |

### Question 1
Using Python, calculate:
- the total floor area for each building
- the total height for each building

Store the calculated values in an appropriate data structure (list or dictionary) for each building.

In [22]:
# Try it out with code here!
building_blocks = {
    "buildings": [
        {"address": "123 Main Street", "num_floors": 25, "avg_floor_a": 1000, "avg_floor_h": 10},
        {"address": "26 Broadway", "num_floors": 18, "avg_floor_a": 2000, "avg_floor_h": 9.5},
        {"address": "1 Electric Avenue", "num_floors": 15, "avg_floor_a": 770, "avg_floor_h": 12},
        {"address": "9 Wall Street", "num_floors": 80, "avg_floor_a": 900, "avg_floor_h": 10},
    ]
}

def get_each_building_info(block):
  floor_area = []
  floor_height = []

  for building in block["buildings"]:
    floor_area = building["num_floors"] * building["avg_floor_a"]
    floor_name = building["address"]
    floor_height = building["num_floors"] * building["avg_floor_h"]
    print(f"the total floor area and height of building{floor_name} is {floor_area} and {floor_height}")

get_each_building_info(building_blocks)

the total floor area and height of building123 Main Street is 25000 and 250
the total floor area and height of building26 Broadway is 36000 and 171.0
the total floor area and height of building1 Electric Avenue is 11550 and 180
the total floor area and height of building9 Wall Street is 72000 and 800

### Question 2
Using Python, calculate the following across all four buildings:
- the total floor area
- the average number of floors
- the average height

Use your previously created data structures to calculate these new values and print the results.

In [19]:
# Try it out with code here!

def get_floor_area(block):
  building_area = []
  num_floor = []
  floor_height = []

  for building in block["buildings"]:
    building_area.append(building["avg_floor_a"])
    num_floor.append(building["num_floors"])
    floor_height.append(building["avg_floor_h"])

  num_buildings = len(block["buildings"])
  total_area = sum(building_area)
  avg_num_floor = sum(num_floor) / num_buildings
  avg_floor_height = sum(floor_height) / num_buildings



  print(f"the total floor area {total_area}")
  print(f"the average number of floors is {avg_num_floor}")
  print(f"the average height is {avg_floor_height}")

get_floor_area(building_blocks)

the total floor area 4670
the average number of floors is 34.5
the average height is 10.375

### Question 3
Imagine you've got more data about a new building! Re-calculate your answers to questions 1 and 2 with the additional data as follow:

| address | number of floors | average floor area | average floor height |
| ---- | ---- | ---- | ---- |
| 99 West Side Highway | 32 | 500 | 8 |

In [26]:
# Try it out with code here!

new_building = {
    "address": "99 West Side Highway",
    "num_floors": 32,
    "avg_floor_a": 500,
    "avg_floor_h": 8
}

building_blocks["buildings"].append(new_building)

get_each_building_info(building_blocks)
get_floor_area(building_blocks)

the total floor area and height of building123 Main Street is 25000 and 250
the total floor area and height of building26 Broadway is 36000 and 171.0
the total floor area and height of building1 Electric Avenue is 11550 and 180
the total floor area and height of building9 Wall Street is 72000 and 800
the total floor area and height of building99 West Side Highway is 16000 and 256
the total floor area and height of building99 West Side Highway is 16000 and 256
the total floor area and height of building99 West Side Highway is 16000 and 256
the total floor area and height of building99 West Side Highway is 16000 and 256
the total floor area 6670
the average number of floors is 33.25
the average height is 9.1875

### Submit your work
Copy your answers for all five buildings into a spreadsheet, and upload them to Canvas!